@using EPlab.model.fwk
@model EPlab.model.fwk.queryParasViewModel

@foreach (KeyValuePair<string, queryParameterViewModel> para1 in Model.queryParaInternal)
{
    <tr>
        <td>
            @para1.Key
        </td>
        <td>
            @if (para1.Value.comboboxSource == null)
            {
                @*@Html.EditorFor(para1.Value)*@
                @* todo (1) !!... 這裡做partial view, textbox or dropdown *@
                <input type="text" id="para_@para1.Key" name="para_@para1.Key" value="" />
            }
            else
            {
        <select class="form-control" id="para_@para1.Key" name="para_@para1.Key">
            @foreach (KeyValuePair<string, string> pair in para1.Value.comboboxSource)
            {
                if (pair.Key == para1.Key || pair.Key==para1.Value.paraValue)
                {
                    <option selected="selected" value="@pair.Key">@pair.Key</option>
                }
                else
                {
                    <option value="@pair.Key">@pair.Key</option>
                }
            }
            @*<option value=""></option>
            <option selected="selected" value="75732706-ee00-4ea4-be7a-44e7ed240177">QohlcBydate</option>*@
        </select>
            }
        </td>
    </tr>
}
